<html>
<head></head>
<body>
	<h1>Динамическая страничка со структурой</h1>
	<p>	Доступ к полям структуры {{.Name}} {{.Card.Number}} {{.Card.CVC}} </p>
    {{/*
        Это комментарий в шаблоне
        {{.lastName}}
    */}}
    Вызов методов:
    {{.SomeMethod | printf "Method return: %v\n"}}

    {{.SomeErrorMethod}}

    Сообщение после ошибочного метода

    {{$x := 10}}

    {{$x}}

    {{/*Вызов других функций*/}}

    {{myInc 10}}

    {{/*Что будет после следующей строчки?*/}}
    {{.SomeFieldFunction 15 "String"}}

</body>
</html>